/* CSS Custom Properties Definitions */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;700&display=swap');

@font-face {
  font-family: "Literata TT";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/LiterataTT-TextRegular.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-TextRegular.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-TextRegular.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-TextRegular.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('./fonts/LiterataTT-TextItalic.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-TextItalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-TextItalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-TextItalic.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT Caption";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/LiterataTT-CaptionMedium.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-CaptionMedium.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-CaptionMedium.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-CaptionMedium.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT Caption";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('./fonts/LiterataTT-CaptionMediumItalic.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-CaptionMediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-CaptionMediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-CaptionMediumItalic.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/LiterataTT-SubheadBold.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-SubheadBold.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-SubheadBold.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-SubheadBold.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT Subhead";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/LiterataTT-SubheadRegular.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-SubheadRegular.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-SubheadRegular.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-SubheadRegular.ttf') format('truetype');  /* Safari, Android, iOS */
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-xl);

  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  
  --fontSize-root: 17px;
  --fontSize-accent: 1.25rem;
  --fontSize-heading: 2rem;

  --lineHeight-heading: 2.25rem;

  --color-primary: hsla(188, 40%, 47%, 1);
  --color-primary-20: hsla(188, 40%, 47%, .2);
  --color-primary-50: hsla(188, 40%, 47%, .5);
  --color-primary-dark: hsla(188, 40%, 32%, 1);
  --color-secondary: hsla(6, 91%, 76%, 1);
  --color-outline: hsla(188, 30%, 88%, 1);
  --color-outline-dark: hsla(188, 40%, 72%, 1);
  --color-background: hsla(188, 30%, 90%, 1);
  --color-background-lightest: hsla(188, 30%, 98%, 1);
  --color-background-light: hsla(188, 30%, 96%, 1);
  --color-background-light-5: hsla(188, 30%, 96%, .05);
  --color-background-vivid: hsla(188, 60%, 88%, 1);
  --color-black: hsla(188, 20%, 5%, 1);
  --color-pale: hsla(188, 10%, 64%, 1);
  --color-pale-light: hsla(188, 10%, 88%, 1);
  --color-visited: hsla(320, 40%, 32%, 1);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Literata TT", "Noto Serif TC", serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--fontSize-root);
  line-height: var(--spacing-6);
  color: var(--color-black);
  background: linear-gradient(to bottom right, var(--color-background-light), var(--color-background));
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  padding: var(--spacing-0) var(--spacing-3) var(--spacing-0) var(--spacing-0);
  margin-bottom: var(--spacing-8);
  height: 3.5rem;
  z-index: 1;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: var(--spacing-1);
}

.blog-name {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  height: 100%;
}

.blog-title {
  display: flex;
  align-self: center;
  font-weight: 400;
  margin-left: var(--spacing-2);
}

.blog-logo {
  width: 56px;
  height: 56px;
}

footer {
  padding: var(--spacing-8) var(--spacing-0) var(--spacing-0) var(--spacing-0);
  display: flex;
  justify-content: space-between;
}

hr {
  background: var(--color-pale-light);
  height: 2px;
  border: 0;
  margin: var(--spacing-6) var(--spacing-0);
}

.secondary {
  color: var(--color-pale);
}

.category {
  margin: 0 0 var(--spacing-1) 0;
}

/* Heading */

h1,
h2 {
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-4);
  color: var(--color-heading);
  padding-right: var(--spacing-1);
}

h1 {
  font-family: "Literata TT Subhead";
  font-size: var(--fontSize-heading);
  font-weight: 400;
  line-height: var(--lineHeight-heading);
}

h2 {
  font-size: var(--fontSize-root);
  font-weight: 700;
}

h1 > a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

h2 > a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

/* Prose */

p {
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-5) var(--spacing-0);
  padding: var(--spacing-0);
}

.cn {
  font-family: 'Noto Serif TC', serif;
  font-weight: 500;
}

blockquote.cn {
  font-style: normal;
}

small {
  font-size: var(--fontSize-root);
  color: var(--color-pale);
}

.lang-selector {
  list-style: none;
  display: flex;
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
}

li > p {
  margin-bottom: calc(var(--spacing-0) / 2);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-0) / 2);
}

q { 
  font-family: "Literata TT Caption";
  font-size: var(--fontSize-accent);
  font-weight: 500;
  line-height: var(--spacing-7);
  display: block;
  max-width: var(--maxWidth-xs);
  padding: var(--spacing-6) var(--spacing-8) var(--spacing-8) var(--spacing-8);
  margin: var(--spacing-10) auto;
  background: radial-gradient(hsla(188,50%,88%,1), hsla(188,50%,84%,1));
  border-radius: var(--spacing-7) var(--spacing-7) var(--spacing-7) var(--spacing-1);
  box-shadow: 4px 4px 24px hsla(188,40%,88%,1);
  quotes: none;
}

blockquote {
  font-family: "Literata TT Caption";
  font-size: var(--fontSize-accent);
  font-weight: 500;
  font-style: italic;
  line-height: var(--spacing-7);
  color: var(--color-black);
  text-align: center;
  padding: var(--spacing-10) var(--spacing-6) var(--spacing-12) var(--spacing-6);
  margin: 0;
  background: radial-gradient(var(--color-secondary), var(--color-background-light-5) 60%);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

.author-illustration {
  width: 130%;
  margin-left: 50%;
  margin-top: -1rem;
  transform: translateX(-50%);
  display: block;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary-dark);
  word-break: break-word;
  -webkit-tap-highlight-color: var(--color-primary-20);
}
  a:hover {
    color: var(--color-primary);
  }
  a:focus {
    outline: none;
  }
  a:focus-visible {
    box-shadow: 0 0 0 3px var(--color-primary-50);
  }
  a:active {
    color: var(--color-black);
  }
  a:visited {
    color: var(--color-visited);
  }
  a:visited:active {
    color: var(--color-black);
  }

.button {
  display: flex;
  text-decoration: none;
  padding: var(--spacing-2) var(--spacing-5);
  border-radius: var(--spacing-8);
  justify-content: center;
  align-items: center;
  height: 2.5rem;
}

.start {
  display: inline-block;
}

.button-normal {
  background-color: var(--color-background-lightest);
  box-shadow:inset 0px 0px 0px 1px var(--color-background);
}

  .button-normal:hover {
    text-decoration: none;
    background-color: var(--color-background-light);
    color: var(--color-primary-dark);
  }
  .button-normal:active .icon-color-dark {
    fill: var(--color-outline-dark);
  }
  .button-normal:active .icon-color-light {
    fill: var(--color-background-vivid);
  }
  .button-normal:active {
    background-color: var(--color-primary);
    color: var(--color-background-lightest);
    box-shadow: none;
  }
  .button-normal:visited {
    color: var(--color-primary-dark);
  }
  .button-normal:visited:active {
    color: var(--color-background-lightest);
  }

.button-accent {
  color: var(--color-background-lightest);
  background-color: var(--color-primary);
}
  .button-accent:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-background-lightest);
  }
  .button-accent:active {
    background-color: var(--color-black);
    color: var(--color-background-lightest);
  }
  .button-accent:visited {
    color: var(--color-background-lightest);
  }
  .button-accent:visited:active {
    color: var(--color-background-lightest);
  }

.button-icon {
  width: var(--spacing-10);
  padding: 0;
}.button-icon svg {
  min-width: 20px;
}
  .blog-name:visited, .pagination:visited {
  color: var(--color-primary-dark);
}

.chapters-label {
  display: none;
}

.content {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-0) var(--spacing-4) var(--spacing-0) var(--spacing-4);
  animation: fadeInAnimation ease-in 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      transform: translate(0rem, 1rem);
      opacity: 0;
  }
  100% {
    transform: translate(0, 0);
      opacity: 1;
   }
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.chapters-list {
  list-style: none;
  background-color: var(--color-background-lightest);
  border-radius: var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-4) var(--spacing-6) var(--spacing-4);
  margin: 0;
}

.post-list-item {
  margin-top: var(--spacing-4);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  color: var(--color-primary);
  margin-bottom: var(--spacing-0);
  margin-top: var(--spacing-0);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-5) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-accent);
}

.flag {
  height: 20px;
}

.blog-post-nav {
  margin-top: var(--spacing-5);
  display: flex;  
  padding: var(--spacing-4) var(--spacing-6);
  border-radius: var(--spacing-2);
  background-color: var(--color-outline);
}
.blog-post-nav p {
  margin: 0;
}

.blog-post-nav ul {
  margin: var(--spacing-0);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.blog-post-nav ul li {
  margin-right: var(--spacing-2);
}

/* Media queries */

@media (min-width: 768px) {
  :root {
    --fontSize-root: 22px;
    --fontSize-heading: 2.75rem;
    --lineHeight-heading: 3rem;
  }

  .header {
    position: sticky;
    top: 0;
  }

  .blog-title {
    font-weight: 400;
    display: flex;
    align-self: center;
    margin-left: var(--spacing-2);
  }

  .blog-logo {
    width: 80px;
    height: 80px;
  }

  .chapters-list {
    padding: var(--spacing-2) var(--spacing-8) var(--spacing-10) var(--spacing-8);
  }
  
  .author-illustration {
    margin-top: calc(-1 * var(--spacing-12));
    width: 82%;
    height: 100%;
  }

  html, body {
    max-width: none;
    overflow-x: visible;
  }
}

@media (min-width: 400px) {
  .chapters-label {
    display: flex;
  }

  .chapters-icon {
    display: none;
  }
}