/* CSS Custom Properties Definitions */

@font-face {
  font-family: "Literata TT";
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/LiterataTT-TextRegular.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-TextRegular.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-TextRegular.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-TextRegular.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/LiterataTT-TextItalic.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-TextItalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-TextItalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-TextItalic.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/LiterataTT-CaptionMedium.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-CaptionMedium.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-CaptionMedium.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-CaptionMedium.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/LiterataTT-CaptionMediumItalic.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-CaptionMediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-CaptionMediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-CaptionMediumItalic.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/LiterataTT-SubheadBold.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-SubheadBold.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-SubheadBold.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-SubheadBold.ttf') format('truetype');  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Literata TT";
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/LiterataTT-SubheadBoldItalic.eot'); /* IE9 */
  src: url('./fonts/LiterataTT-SubheadBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
      url('./fonts/LiterataTT-SubheadBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
      url('./fonts/LiterataTT-SubheadBoldItalic.ttf') format('truetype');  /* Safari, Android, iOS */
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-xl);

  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-heading: 700;
  
  --fontSize-root: 16px;
  --fontSize-accent: 1.25rem;
  --fontSize-heading: 2rem;

  --color-primary: hsla(188, 40%, 47%, 1);
  --color-primary-dark: hsla(188, 40%, 32%, 1);
  --color-secondary: hsla(6, 91%, 76%, 1);
  --color-secondary-light: hsla(6, 91%, 86%, 1);
  --color-outline: hsla(188, 40%, 72%, 1);
  --color-background: hsla(188, 40%, 92%, 1);
  --color-background-dark: hsla(188, 40%, 88%, 1);
  --color-background-light: hsla(188, 40%, 96%, 1);
  --color-black: hsla(188, 40%, 10%, 1);
  --color-pale: hsla(188, 10%, 64%, 1);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: 1.625rem;
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Literata TT", "Noto Serif", serif, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--fontSize-root);
  color: var(--color-black);
  background-color: var(--color-background-light);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: var(--spacing-0) var(--spacing-3) var(--spacing-0) var(--spacing-0);
}

.blogName {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.blogTitle {
  font-weight: 700;
  display: none;
}

.blogLogo {
  width: 89px;
  height: auto;
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-outline);
  height: 1px;
  border: 0;
  margin: var(--spacing-6) var(--spacing-0);
}

.secondary {
  color: var(--color-pale);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--fontWeight-heading);
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-6);
  color: var(--color-heading);
}

h1 {
  font-size: var(--fontSize-heading);
  line-height: 2.5rem;
}

h2 {
  font-size: var(--fontSize-root);
}

h1 > a {
  color: var(--color-primary-dark);
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

/* Prose */

p {
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-6) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

.chapters > li {
  border-bottom: 1px solid var(--color-background-dark);
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-0) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-0) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-0) / 2);
}

blockquote {
  color: var(--color-pale);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-accent);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary-dark);
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}

.button {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  background-color: var(--color-background);
  padding: var(--spacing-2) var(--spacing-5);
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.button:active {
  background-color: var(--color-background-dark);
}

.iconChapters {
  margin-right: var(--spacing-2);
}

/* Custom classes */

.global-wrapper {
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-4) var(--spacing-3);
}

.global-header {
  margin-bottom: var(--spacing-12);
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-3);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-0);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-3);
}

.header-link-home {
  font-weight: var(--fontWeight-heading);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-accent);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-4) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-accent);
  font-family: var(--font-heading);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Media queries */

@media (min-width: 768px) {
  :root {
    --fontSize-root: 20px;
  }

  .blogTitle {
    display: flex;
  }
}

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
